<div class="excelbook" style="position: relative; overflow-y: hidden;" (window:resize)="onResize($event)">

  <div id="ribbon-tabs-container">
    <app-ribbon (ribbonClicked)="ribbonClicked($event)"></app-ribbon>
  </div>

  <div id="worksheet-container" [style.height.px]="worksheetHeight">
    <app-worksheet></app-worksheet>
  </div>

</div>

<!--

<div id="worksheet-container" style=" width: 100%; height: 100%; position: relative; overflow-y: hidden;">
  <app-worksheet></app-worksheet>
</div>

-->


